{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>

        <script>
            // Register the ServiceWorker
            navigator.serviceWorker.register('/service_serviceworker.js', {scope: '.'
            }).then(function(registration) {
              console.log('The service worker has been registered ', registration);
            });

            // Listen for claiming of our ServiceWorker
            navigator.serviceWorker.addEventListener('controllerchange', function(event) {
              console.log(
                '[controllerchange] A "controllerchange" event has happened ' +
                'within navigator.serviceWorker: ', event
              );

              // Listen for changes in the state of our ServiceWorker
              navigator.serviceWorker.controller.addEventListener('statechange',
                function() {
                  console.log('[controllerchange][statechange] ' +
                    'A "statechange" has occured: ', this.state
                  );
                  $('#service-worker-state').text(this.state)
                // If the ServiceWorker becomes "activated", let the user know they can go offline!
                  if (this.state === 'activated') {
                    // Show the "You may now use offline" notification
                    $('#service-workeroffline-notification').show()

                  }
                }
              );
            });

        </script>

        <script src="/service_serviceworker.js"></script>
        <script src="{% static 'js/riot_compiler.min.js' %}"></script>
        <script src="{% static 'js/riotcontrol.js' %}"></script>
        <script src="{% static 'js/personstore.js' %}"></script>
        <script src="{% static 'js/requeststore.js' %}"></script>
        <!--script src="{% static 'js/bootstrap.min.js' %}"></script-->
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/Lawnchair.js' %}"></script>
        <script src="{% static 'js/adapters/indexed-db.js' %}"></script>
        <script src="{% static 'js/get_csrftoken.js' %}"></script>
        <!--<script src="{% static 'js/ajaxsubmit.js' %}"></script>-->

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <p>SERVICE WORKER STATE is: <span id="service-worker-state"></span></p>
                <p id='service-workeroffline-notification'>You can now go offline - Service worker successfully activated</p>
                    <person></person>
                    <event></event>
                    <personevent></personevent>
                    <request></request>
            </div>

        </div>

        <script type="riot/tag">
            {% include 'contactlist/person.tag.html' %}
        </script>

        <script type="riot/tag">
            {% include 'contactlist/event.tag.html' %}
        </script>

        <script type="riot/tag">
            {% include 'contactlist/personevent.tag.html' %}
        </script>

        <script type="riot/tag">
            {% include 'contactlist/request.tag.html' %}
        </script>


        <script>
            // initial persons can come from Django template tag
            // var persons = {{ persons|safe }}
            var persons = []
            // Or they can be loaded with a call to RiotControl.trigger('reload_from_server')
            var events = {{ events|safe }}
            var personevents = {{ personevents|safe }}
            var personStore = new PersonStore([])
            var requestStore = new RequestStore()

            // Register the store in central dispatch and mount.
            RiotControl.addStore(personStore)
            RiotControl.addStore(requestStore)
            RiotControl.trigger('reload_from_server')
            riot.mount('person');
            riot.mount('request');

        </script>
    </body>
</html>